
/* Your CSS Code here. */
table{
	width:90%;
	padding:5px;
	border:1.5px solid black;
	border-collapse:collapse;
}
tr:nth-child(even){
	background-color:lightgray;
	color:ghostwhite;
	font:sans-serif;
}
td{
	text-align:right;
	border:0.5px solid black;
}

thead{
	background-color:lightpink;
	color:white;
}